body {
    margin: 0;
    padding: 0;
}

#video-grid {
    display: flex;
    justify-content: center;
}

video {
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main__right {
    flex: 0.2;
}

.main__video {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__controls {
    color: #D2D2D2;
    background-color: #1c1e20;
    display: flex;
    padding: 5px;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}
